.container {
	padding: 0 2rem;
	background-color: #11111b;
	color: #cdd6f4;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.3;
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #181825;
}
.ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.li {
	margin-right: 1rem;
	color: #cdd6f4;
	transition: color 0.2s ease;
}

.li:hover {
	color: #89b4fa;
}

.icon {
	margin-top: 2vh;
}

.a {
	color: #cdd6f4;
	transition: color 0.2s ease;
}

.a:hover {
	color: #f38ba8;
}
